@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Hometown Zoo Contact Info</h3>

<address>
    4501 Steilacoom Blvd SW<br />
    Lakewood, WA 98499<br />
    <abbr title="Phone">P:</abbr>
    253.589.9999
</address>